body {
    font-family: Arial, sans-serif;
    background-color: #203228;
    margin: 0;
    padding: 20px;
    color: #caddcb;
  }
  
  h1 {
    color: #caddcb;
  }

  header {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
  }


  button { 

    
    
  }
  .divContainer {
    color:rgb(216, 216, 216);
    text-align: center;
    padding: 30px;
    
  }
  .description {
     text-align: center;
    /* background-image: url('assets/img/main-image-botanikacafe.webp');
    background-size: cover; 
    background-position: center;
    height: 400px; 
    width: 100%;   */

  }

  