body {
    font-family: Arial, sans-serif;
    background-color: #203228;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    color: #caddcb;
  }

  header {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
  }


  button { 
    
    
  }

  